<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="keywords" content="Akshara Rai">


  <title>{{ page.urltitle }}</title>
  <!--<meta name="description" content="{{site.description}}">-->
  <meta name="description" content="{{page.title}}">

  <!--Open Graph Related Stuff-->
  <meta property="og:title" content="Akshara Rai"/>
  <meta property="og:url" content="https://akshararai.github.io/"/>
  <meta property="og:description" content="{{page.title}}"/>
  <meta property="og:site_name" content="Akshara Rai's webpage"/>
  <meta property="og:image" content=""/>
  <meta property="og:image:url" content="https://akshararai.github.io/static/img/robots-02.jpg"/>


  <!-- CSS  -->
  <link rel="stylesheet" type="text/css" href="{{ "static/css/bootstrap.min.css" | prepend:site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ "static/css/main.css" | prepend:site.baseurl }}" media="screen,projection">
  <link rel="stylesheet" type="text/css" href="{{ "static/css/custom.css" | prepend:site.baseurl }}" media="screen,projection">
</head>

  
  <!--Open Graph Related Stuff-->
  <!--<meta property="og:title" content="{{page.title}}"/>-->
  <!--<meta property="og:url" content="{{page.permalink}}"/>-->
  <!--<meta property="og:site_name" content="{{page.title}}"/>-->
  <!--<meta property="og:image" content="{{page.favicon | prepend:site.baseurl }}"/>-->
  <!--<meta property="og:image:url" content="{{page.favicon | prepend:site.baseurl }}"/>-->

  <!--Twitter Card Stuff-->
  <!--<meta name="twitter:title" content="{{page.title}}"/>-->
  <!--<meta name="twitter:image" content="{{page.favicon | prepend:site.baseurl }}"/>-->
  <!--<meta name="twitter:description" content="{{site.description}}"/>-->
